<aside
  class="h-screen sticky top-0 flex flex-col transition-all duration-300
         bg-white dark:bg-[#1e1e1e]
         border-r border-gray-100 dark:border-white/5
         shadow-sm text-gray-700 dark:text-slate-300">

  <!-- App logo + toggle -->
<div
  class="sticky top-0 z-10 px-6 py-5
         border-b border-gray-100 dark:border-white/5
         bg-white dark:bg-[#1e1e1e]">

        <div class="flex items-center justify-between">
        <div class="flex items-center gap-4">
       <div
        class="w-11 h-11 flex items-center justify-center rounded-xl bg-blue-600">
      <i class="pi pi-building text-white text-lg"></i>
    </div>

<div [class.hidden]="!sideNavOpen">
        <h1 class="text-sm font-black uppercase text-gray-900 dark:text-white">
          STI Portal
        </h1>
        <p class="text-[10px] font-black tracking-[0.2em] text-blue-600 dark:text-blue-400">
          FACULTY
        </p>
    </div>
    </div>
  </div>
</div>

  <!-- Navigation (scrollable) -->
  <nav
    class="flex-1 p-2 space-y-2 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-slate-800"
  >
    <!-- Dashboard -->
    <!-- <a
      [routerLink]="dashboardLink"
      routerLinkActive="bg-gray-700"
      class="flex items-center gap-2 px-3 py-2 rounded hover:bg-gray-700 transition"
    >
      <i class="pi pi-chart-bar"></i>
      <span [class.hidden]="!sideNavOpen">Dashboard</span>
    </a> -->

    <!-- Attendance Portal with dropdown -->
    <div>
    <button
     (click)="toggleAtsMenu()" class="flex items-center justify-between w-full px-4 py-3 rounded-xl
         hover:bg-gray-50 dark:hover:bg-white/5 transition-all text-[12px] font-bold uppercase tracking-tight">
     <span class="flex items-center gap-3">
     <i class="pi pi-calendar"></i>
     <span [class.hidden]="!sideNavOpen">Attendance Portal</span>
    </span>
        <span
          [class.hidden]="!sideNavOpen"
          [class.rotate-90]="atsMenuOpen"
          class="transition-transform">

    <i 
    class="pi pi-chevron-down text-[10px] transition-transform"
    [class.rotate-180]="atsMenuOpen"
    [class.hidden]="!sideNavOpen"></i>
    </span> 
  </button>

      <div [class.hidden]="!atsMenuOpen || !sideNavOpen" class="ml-6 mt-1 space-y-1 pl-4
       border-l-2 border-gray-50 dark:border-white/5">
        @for (page of atsMenu; track page.path) {
        <a
          [routerLink]="page.path"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition"
        >
          {{ page.label }}
        </a>
        }
        <a
          routerLink="/admin/ats-attendance"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Attendance
        </a>

        <a
          routerLink="/admin/ats-manage-students"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Manage Students
        </a>
         <a
          routerLink="/admin/ats-schedule"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Schedule
        </a>
        <a
          routerLink="/admin/ats-announcements"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Announcements
        </a>
        <a
          routerLink="/admin/ats-settings"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Settings
        </a>
        <a
          routerLink="/admin/ats-add-new-admin"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700">
          Add New Admin
        </a>
        
      </div>
    </div>
    
    <!-- Grading Portal with dropdown -->
    <div>
      <button
        (click)="toggleGpsMenu()"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
       hover:bg-gray-50 dark:hover:bg-white/5
       transition-all text-[12px] font-bold uppercase tracking-tight">
        <span class="flex items-center gap-2">
          <i class="pi pi-inbox"></i>
          <span [class.hidden]="!sideNavOpen">Grading Portal</span>
        </span>
        <span
          [class.hidden]="!sideNavOpen"
          [class.rotate-90]="gpsMenuOpen"
          class="transition-transform"
        >
          <i class="pi pi-angle-right"></i>
        </span>
      </button>

        <div [class.hidden]="!gpsMenuOpen || !sideNavOpen" class="ml-6 mt-1 space-y-1 pl-4
       border-l-2 border-gray-50 dark:border-white/5"></div>

       <div [class.hidden]="!gpsMenuOpen || !sideNavOpen" class="ml-6 mt-1 space-y-1 pl-4
       border-l-2 border-gray-50 dark:border-white/5">
        @for (page of gpsMenu; track page.path) {
        <a
          [routerLink]="page.path"
          routerLinkActive="bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition">
          {{ page.label }}
        </a>
        }

          <a
          routerLink="/admin/grade-records"
          routerLinkActive="bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-400 font-black"

          class="block px-3 py-2 rounded hover:bg-gray-700"
        >
          Records Management
        </a>

         <a
          routerLink="/admin/grades-management"
          routerLinkActive="bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-400 font-black"

          class="block px-3 py-2 rounded hover:bg-gray-700 transition"
        >
          Grades Management
        </a>

        <a
          routerLink="/admin/schedule-management"
          routerLinkActive="bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition"
        >
          Schedule Management
        </a>

        <div
         class="mt-4 px-3 text-[11px] font-semibold tracking-wider text-gray-400 uppercase"
          [class.hidden]="!sideNavOpen">
        Communication
       </div>

        <a
          routerLink="/admin/announcements-management"
          routerLinkActive="bg-green-50 dark:bg-green-900/20text-green-700 dark:text-green-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition">
          Announcements
        </a>

        <div
         class="mt-4 px-3 text-[11px] font-semibold tracking-wider text-gray-400 uppercase"
          [class.hidden]="!sideNavOpen">
          Data Management
        </div>
         
        <a
          routerLink="/admin/data-management"
          routerLinkActive="bg-green-50 dark:bg-green-900/20text-green-700 dark:text-green-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition">
          Data Management
        </a>
       
        <div
         class="mt-4 px-4 text-[10px] font-black uppercase tracking-[0.2em] text-gray-400"
          [class.hidden]="!sideNavOpen">
          Others
        </div>

        <a
          routerLink="/admin/admin-settings"
          routerLinkActive="bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition">
          Admin Settings
        </a> 
    </div>
    </div>


     <div>
      <button
        (click)="toggleAdminMenu()"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
       hover:bg-gray-50 dark:hover:bg-white/5
       transition-all text-[12px] font-bold uppercase tracking-tight">
        <span class="flex items-center gap-2">
          <i class="pi pi-box"></i>
          <span [class.hidden]="!sideNavOpen">System Management</span>
        </span>
        <span
          [class.hidden]="!sideNavOpen"
          [class.rotate-90]="adminMenuOpen"
          class="transition-transform"
        >
          <i class="pi pi-angle-right"></i>
        </span>
      </button>

      <div [class.hidden]="!adminMenuOpen || !sideNavOpen" class="ml-6 mt-1 space-y-1 pl-4
       border-l-2 border-gray-50 dark:border-white/5">
        @for (page of adminMenu; track page.path) {
        <a
          [routerLink]="page.path"
          routerLinkActive="bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-400 font-black"
          class="block px-3 py-2 rounded hover:bg-gray-700 transition"
        >
          {{ page.label }}
        </a>
        }
      </div>
    </div>

    <!-- Variant -->
    <!-- <a
      [routerLink]="variantLink"
      routerLinkActive="bg-gray-700"
      class="flex items-center gap-2 px-3 py-2 rounded hover:bg-gray-700 transition"
    >
      <i class="pi pi-tag"></i>
      <span [class.hidden]="!sideNavOpen">Variant</span>
    </a> -->
  </nav>
</aside>
