.add-btn {
  background-color: var(--slate-950);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 10rem;
}

.add-btn:hover {
  background-color: var(--blue-900);
}

.cancel-btn {
  background-color: #fff;
  color: var(--slate-950);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: var(--slate-950);
  cursor: pointer;
  width: 10rem;
}

::ng-deep  button.cancel-btn.p-button:hover {
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  border-color: var(--slate-950);
}

.save-btn {
  background-color: var(--slate-950);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 10rem;
}

.save-btn:hover {
  background-color: #0461B8;
}

::ng-deep button.discard-btn.p-button {
  background-color: #fff;
  color:var(--slate-950);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: var(--slate-950);
  cursor: pointer;
  width: 10rem;
}

::ng-deep  button.discard-btn.p-button:hover {
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  border-color: var(--slate-950);
}

.delete-btn {
  background-color: var(--red-600);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 10rem;
}

.delete-btn:hover {
  background-color: var(--red-500);
}
